@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
}

body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-family: $regular-font;
  color: $text-color;
  text-transform: uppercase;
  background-color: $body-bg;
}

.page-wrapper {
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  display: block;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .page-wrapper {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-wrapper {
    width: 1200px;
  }

  .desktop-hidden {
    display: none;
  }
}
