.call-to-action {
  @include mobile-content();
  padding-top: 32px;
  padding-bottom: 48px;
  text-align: center;
}

.call-to-action__headline {
  font-size: 21px;
  line-height: 26px;
}

.call-to-action__subline {
  font-size: 14px;
  line-height: 24px;
}

.call-to-action__find {
  display: block;
  margin-top: 40px;
  font-size: 21px;
  line-height: 26px;
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .call-to-action {
    width: auto;
    padding-top: 55px;
    padding-right: 155px;
    padding-bottom: 51px;
    padding-left: 155px;
    box-sizing: border-box;
  }

  .call-to-action__find {
    max-width: 459px;
  }

  .call-to-action__headline {
    font-size: 30px;
  }

  .call-to-action__subline {
    margin-top: 33px;
  }
}

//////////// d e s k t o p ////////////

@media (min-width: $desktop-width) {
  .call-to-action {
    padding-top: 55px;
    padding-right: 370px;
    padding-bottom: 65px;
    padding-left: 370px;
  }
}
