.call-to-action {
  @include mobile-content;
  padding-top: 32px;
  padding-bottom: 48px;
  text-align: center;

  &__headline {
    font-size: 21px;
    line-height: 26px;
  }

  &__subline {
    font-size: 14px;
    line-height: 24px;
  }

  &__find {
    display: block;
    margin-top: 40px;
  }
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .call-to-action {
    width: auto;
    padding: 55px 155px;
    box-sizing: border-box;

    &__find {
      max-width: 459px;
    }
  }
}

//////////// d e s k t o p ////////////

@media (min-width: $desktop-width) {
  .call-to-action {
    padding: 55px 370px 65px 370px;
  }
}
