.call-to-action {
  padding-top: 32px;
  padding-bottom: 48px;
  text-align: center;

  &__headline {
    font-size: 21px;
    line-height: 26px;
  }

  &__subline {
    font-size: 14px;
    line-height: 24px;
  }

  &__find {
    display: block;
    margin-top: 40px;
  }
}
