.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -66px;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.controls__item--progress {
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.controls__item--progress span {
  display: flex;
  align-items: center;
  width: 235px;
  height: 3px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.2);
}

.controls__item--progress span::after {
  content: "";
  width: 9px;
  height: 9px;
  margin-left: 36px;
  border-radius: 50%;
  background-color: #ffffff;
}

.controls__item--replay {
  background-image: url("../img/icon-video-replay.svg");
  background-size: 16px;
}

.controls__item--captions {
  background-image: url("../img/icon-video-subtitles.svg");
  background-size: 32px;
  flex-grow: 1;
  background-position: right;
}

.controls__item--fullscreen {
  background-image: url("../img/icon-video-fullscreen.svg");
  background-size: 20px;
}

.controls__item--replay,
.controls__item--captions,
.controls__item--fullscreen {
  height: 66px;
  min-width: 66px;
  background-color: $body-bg;
  background-repeat: no-repeat;
  background-position: center;
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .controls {
    bottom: 0;
    width: 648px;
    min-height: 93px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .controls__item {
    background-color: transparent;
    flex-grow: 0;
  }

  .controls__item--replay {
    order: -1;
    background-image: url("../img/icon-video-replay-tablet.svg");
  }

  .controls__item--progress {
    width: auto;
  }

  .controls__item--progress span {
    width: 389px;
  }

  .controls__item--progress span::after {
    margin-left: 113px;
  }

  .controls__item--captions {
    background-image: url("../img/icon-video-subtitles-tablet.svg");
  }

  .controls__item--fullscreen {
    background-image: url("../img/icon-video-fullscreen-tablet.svg");
  }
}

//////////// d e s k t o p ////////////

@media (min-width: $desktop-width) {
  .controls {
    width: 800px;
  }

  .controls__item--progress span {
    width: 540px;
  }
}
