.copyright {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.copyright__text {
  font-style: normal;
}

.copyright__logo {
  padding-left: 12px;
  fill: #000000;

  &:hover {
    fill: $theme-color;
  }

  &:focus,
  &:active {
    fill: #b2b2b2;
  }
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;

    &__text {
      line-height: 26px;
    }
  }
}
