.devils-bridge__info {
  @include mobile-content;
  padding-top: 40px;
  padding-bottom: 10px;
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .devils-bridge__info {
    width: 256px;
    height: 256px;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    order: 2;
  }
}

//////////// d e s k t o p ////////////

@media (min-width: $desktop-width) {
  .devils-bridge__info {
    width: 400px;
    padding-top: 55px;
    padding-left: 65px;
    padding-right: 65px;
  }
}
