.form__fieldset {
  @include mobile-content();
  margin: 0;
  padding-top: 22px;
  padding-bottom: 26px;
  border: 0;
  border-bottom: 1px solid $form-border;

  &:last-child {
    padding-bottom: 38px;
    border-bottom: none;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $accent-color;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $accent-color;
}

.form__fieldset--contact .form__label {
  padding-left: 22px;
  margin-bottom: 9px;
}

.form__fieldset--emotions {
  text-align: center;
}

.form__legend {
  @include headline();
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}

.form__label {
  font-size: $text-size;
  line-height: 26px;
}

.form__label--text {
  margin-right: 13px;
}

.form__input--text,
.form__textarea,
.form__label--radio,
.form__label--checkbox {
  font-family: $bold-font;
  padding: 16px 20px;
  font-size: 18px;
  line-height: 26px;
  color: $accent-color;
  text-transform: none;
}

.form__input--text,
.form__textarea {
  background-color: $input-bg;
  border: none;
  box-sizing: border-box;

  &:hover {
    background-color: $input-hover-bg;
  }

  &:focus,
  &:active {
    background-color: $bg;
    outline: none;
    box-shadow: 0 0 0 4px $input-hover-bg inset;
  }
}

.form__input--text:focus,
.form__input--text:active {
  margin-right: -4px;
}

.form__icon-group {
  display: flex;
  width: 280px;
}

.form__input--text[type="tel"],
.form__input--text[type="mail"] {
  display: flex;
}

.form__icon-group::after {
  content: "";
  width: 58px;
  background-color: $input-icon-bg;
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;
}

.form__icon-group--tel::after {
  background-image: url("../img/icon-phone.svg");
}

.form__icon-group--mail::after {
  background-image: url("../img/icon-mail.svg");
}

.form__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__group--impression {
  justify-content: flex-start;
  margin-bottom: 13px;
}

.form__group--contact {
  flex-direction: column;
  align-items: flex-start;
}

.form__group--sights {
  justify-content: flex-start;
  margin-bottom: 24px;
}

.form__input--text {
  width: 120px;
  flex-grow: 1;
  box-sizing: border-box;
}

.form__textarea {
  width: 280px;
  max-width: 280px;
  min-height: 160px;
  box-sizing: border-box;
}

.form__bottom {
  margin-top: 50px;
}

.form__submit {
  width: 280px;
  margin-top: 0;
}

.form__required {
  display: none;
}

.form__label--radio {
  display: flex;
  align-items: center;
  padding: 0;
}

.form__label--radio::before {
  content: "";
  width: 22px;
  height: 22px;
  margin-right: 24px;
  background-color: $input-bg;
  border: 17px solid $input-bg;
  border-radius: 50%;
  cursor: pointer;
}

.form__label--radio:hover::before {
  background-color: $input-hover-bg;
  border-color: $input-hover-bg;
}

.form__label--radio:focus::before,
.form__label--radio:active::before {
  background-color: $input-down-bg;
  border-color: $input-down-bg;
}

.form__input--radio:checked ~ .form__label--radio::before {
  background-color: $text-color;
}

.form__input--radio:checked ~ .form__label--radio:focus::before,
.form__input--radio:checked ~ .form__label--radio:active::before {
  background-color: rgba($text-color, 0.3);
}

.form__input--radio:disabled ~ .form__label--radio {
  opacity: 0.3;
}

.form__input--radio:disabled ~ .form__label--radio::before {
  background-color: $input-bg;
  border-color: $input-bg;

  &:hover,
  &:focus,
  &:active {
    background-color: $input-bg;
    border-color: $input-bg;
  }
}

.form__label--checkbox {
  display: flex;
  align-items: center;
  padding: 0;
}

.form__label--checkbox::before {
  content: "";
  width: 56px;
  height: 56px;
  margin-right: 24px;
  background-color: $input-bg;
  border-radius: 5px;
}

.form__label--checkbox:hover::before {
  background-color: $input-hover-bg;
}

.form__label--checkbox:focus::before,
.form__label--checkbox:active::before {
  background-color: $input-down-bg;
}

.form__input--checkbox:checked ~ .form__label--checkbox::before {
  background-position: center;
  background-image: url("../img/icon-tick.svg");
  background-size: 25px;
  background-repeat: no-repeat;
}

.form__input--checkbox:checked ~ .form__label--checkbox:focus::before,
.form__input--checkbox:checked ~ .form__label--checkbox:active::before {
  background-image: url("../img/icon-tick-down.svg");
}

.form__input--checkbox:disabled ~ .form__label--checkbox {
  opacity: 0.3;
}

.form__input--checkbox:disabled ~ .form__label--checkbox::before {
  background-color: $input-bg;
  background-image: none;
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .form {
    @include tablet-content();
    display: flex;
    flex-wrap: wrap;
  }

  .form__fieldset {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    border-bottom: none;
    box-sizing: border-box;
  }

  .form__fieldset--impression {
    position: relative;
    order: -1;
    flex-basis: auto;
    width: 324px;
    padding-right: 46px;

    &::after {
      content: "";
      position: absolute;
      bottom: 25px;
      right: 0;
      width: 1px;
      height: 292px;
      background-color: #dbdbdb;
    }
  }

  .form__fieldset .form__legend {
    padding-bottom: 35px;
    text-align: left;
  }

  .form__fieldset--fullname {
    flex-basis: 266px;
    margin-left: auto;
  }

  .form__fieldset--fullname .form__legend {
    padding-bottom: 35px;
    text-align: left;
  }

  .form__fieldset--contact {
    margin-top: 27px;
  }

  .form__fieldset--sights .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin-top: 0;
    padding-left: 69px;
    padding-right: 69px;
    box-sizing: border-box;
  }

  .form__fieldset--contact,
  .form__fieldset--emotions {
    flex-basis: 648px;
  }

  .fomm__fieldset--sights {
    flex-basis: auto;
    width: 648px;
  }

  .form__legend {
    font-size: 21px;
  }

  .form__fieldset--contact .form__legend,
  .form__fieldset--sights .form__legend,
  .form__fieldset--emotions .form__legend {
    position: relative;
    width: 648px;
    text-align: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 30px;
      width: 124px;
      height: 1px;
      background-color: #dbdbdb;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .form__fieldset--sights .form__legend {
    padding-bottom: 25px;

    &::before,
    &::after {
      top: 40px;
    }
  }

  .form__group--impression {
    margin-bottom: 22px;
  }

  .form__group--sights {
    flex-basis: auto;
    width: 255px;
    padding-left: 28px;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 32px;
    }

    &:nth-child(1) {
      order: 0;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 1;
    }

    &:nth-child(4) {
      order: 3;
    }
  }

  .form__icon-group {
    width: 648px;
  }

  .form__textarea {
    width: 648px;
    max-width: 648px;
  }

  .form__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 58px;
  }

  .form__submit {
    width: 324px;
  }

  .form__required {
    display: inline;
  }
}

//////////// d e s k t o p ////////////

@media (min-width: $desktop-width) {
  .form {
    @include desktop-content();
  }

  .form__fieldset {
    flex-basis: 960px;
  }

  .form__fieldset--impression {
    flex-basis: auto;
    width: 480px;
    padding-right: 125px;
  }

  .form__fieldset--impression .form__legend {
    padding-left: 80px;
  }

  .form__fieldset--fullname {
    flex-basis: 400px;
  }

  .form__fieldset--contact .form__wrapper {
    display: flex;
  }

  .form__fieldset--contact .form__label {
    padding-left: 0;
  }

  .form__fieldset--sights .form__wrapper {
    justify-content: space-between;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .form__fieldset--contact .form__legend {
    padding-bottom: 60px;
  }

  .form__fieldset--contact .form__legend,
  .form__fieldset--sights .form__legend,
  .form__fieldset--emotions .form__legend {
    width: 960px;

    &::before,
    &::after {
      width: 280px;
    }
  }

  .form__group--contact {
    flex-direction: row;
    flex-basis: auto;
    width: 480px;
    align-items: center;

    &:first-of-type {
      padding-right: 80px;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .form__group--sights {
    flex-basis: auto;
    width: auto;
    padding-left: 0;
  }

  .form__icon-group {
    width: 316px;
  }

  .form__textarea {
    width: 960px;
    max-width: 960px;
  }

  .form__submit {
    width: 480px;
  }
}
