.page-header {
  @include mobile-container();
}

.page-header__promo {
  min-height: 390px;
  padding-top: 90px;
  background-color: #f4b0a3;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: 104%, cover;
  box-sizing: border-box;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-header__intro {
  min-height: 158px;
  padding-top: 52px;
  background-color: #81b3d2;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom, bottom;
  background-size: 104%, 250%;
  box-sizing: border-box;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-header__promo-pic {
  display: block;
  margin: 0 auto;
}

.page-header__intro-pic {
  display: block;
  width: 229px;
  height: auto;
  margin: 0 auto;
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .page-header {
    @include tablet-container();
  }

  .page-header__promo {
    min-height: 518px;
    padding-top: 78px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: contain, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header__promo-pic {
    width: 461px;
    height: auto;
  }

  .page-header__intro {
    min-height: 290px;
    padding-top: 95px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: contain, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header__intro-pic {
    width: 458px;
  }
}

//////////// d e s k t o p ////////////

@media (min-width: $desktop-width) {
  .page-header {
    @include desktop-container();
  }

  .page-header__promo {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-header__intro {
    padding-top: 102px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-header__intro-pic {
    width: 460px;
  }
}
