.page-header {
  @include mobile-container;
}

.page-header__promo {
  @include back-bg();
  min-height: 390px;
  padding-top: 90px;
  box-sizing: border-box;
}

.page-header__intro {
  @include back-bg();
  min-height: 158px;
  padding-top: 52px;
  box-sizing: border-box;
}

.page-header__promo-pic {
  display: block;
  margin: 0 auto;
}

.page-header__intro-pic {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    @include tablet-container;
  }

  .page-header__promo {
    min-height: 518px;
  }

  .page-header__promo-pic {
    width: 461px;
    height: auto;
  }

  .page-header__intro {
    min-height: 290px;
    padding-top: 100px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include desktop-container;
  }
}
