.page-footer {
  @include mobile-container;
  background-color: $bg;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  text-align: center;
}

.page-footer__headline {
  font-size: 21px;
  line-height: 26px;
}

.page-footer__map {
  position: relative;
  display: block;
  height: 350px;
  margin-bottom: 5px;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 27px;
    height: 27px;
    background-image: url("../img/icon-map-marker.svg");
    z-index: 1;
  }
}

.page-footer__iframe {
  position: relative;
  width: 320px;
  z-index: 2;
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .page-footer {
    @include tablet-container;
    padding-top: 10px;
  }

  .page-footer__wrapper {
    @include tablet-content;
    height: 120px;
    flex-direction: row;
  }

  .page-footer__iframe {
    width: 768px;
  }

  .page-footer__map {
    margin-bottom: 0;
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

//////////// d e s k t o p ////////////

@media (min-width: $desktop-width) {
  .page-footer {
    @include desktop-container;
    padding: 10px 0 0 0;
  }

  .page-footer__wrapper {
    @include desktop-container;
    padding: 0;
    justify-content: space-around;
  }

  .page-footer__iframe {
    width: 1200px;
  }

  .page-footer__map {
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
