.photo-video__header {
  @include inner-header();
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.photo-video__headline {
  @include inner-headline();
}

.photo-video__subline {
  @include inner-subline();
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .photo-video__header {
    padding-left: 120px;
    padding-right: 120px;
    border: none;
  }
}

//////////// d e s k t o p ////////////

@media (min-width: $desktop-width) {
  .photo-video__header {
    padding-left: 380px;
    padding-right: 380px;
  }
}
