.popup {
  width: 320px;
  margin: auto;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 35px;
  background-color: $bg;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 1, 0.15);
  box-sizing: border-box;

  &--error {
    padding-top: 42px;
    padding-left: 56px;
    padding-right: 56px;
  }
}

.popup__subline {
  margin-top: 31px;
  margin-bottom: 25px;
}

.popup__container {
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 9px;
}

.popup__button {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.popup__close-window {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.popup__wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup--success {
  padding-bottom: 0;
}

.popup--success .popup__button {
  width: 280px;
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .popup {
    box-sizing: border-box;

    &--error {
      width: 400px;
      padding-top: 60px;
      padding-right: 64px;
      padding-bottom: 50px;
      padding-left: 64px;
    }

    &--success {
      width: 640px;
      padding: 0;
    }
  }

  .popup__headline {
    font-size: 30px;
    line-height: 40px;
  }

  .popup__container {
    padding-top: 60px;
    padding-right: 110px;
    padding-bottom: 0;
    padding-left: 110px;
  }

  .popup__close-window {
    width: 100%;
    margin-top: 38px;
    padding: 44px 90px;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }

  .popup__button {
    font-size: 21px;
  }

  .popup--error .popup__button {
    width: 272px;
  }

  .popup--error .popup__subline {
    margin-bottom: 35px;
  }

  .popup--success .popup__button {
    width: 458px;
  }
}

//////////// a l l . m e d i a ////////////

@media all {
  .popup__wrapper--opened {
    display: flex;
  }

  .popup__wrapper--closed {
    display: none;
  }
}
