.reasons__list {
  background-color: $info-bg;
}

.reasons__item {
  text-align: center;

  &--detailed {
    background-color: $theme-color;
  }

  &--short {
    padding: 32px 0;
    border-bottom: 1px solid $reasons-border;
  }
}

.reasons__name,
.reasons__text {
  padding: 0;
  line-height: 26px;

  &--detailed {
    color: $light-text-color;
  }
}

.reasons__name {
  padding-bottom: 8px;
}

.reasons__text {
  padding-bottom: 14px;
}

.reasons__pic {
  margin-bottom: -3px;
}
