//////////// b a s i c   &   m o b i l e ////////////

.reasons__header {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: $bg;
}

.reasons__headline {
  line-height: 26px;
}

.reasons__subline {
  line-height: 26px;
  margin-top: 30px;
}

.reasons__list {
  background-color: $info-bg;
}

.reasons__item {
  text-align: center;

  &--detailed {
    background-color: $theme-color;
  }

  &--short {
    padding: 32px 15px 15px 15px;
    border-bottom: 1px solid $reasons-border;
  }

  &--short:last-child {
    border-bottom: none;
  }
}

.reasons__name,
.reasons__text {
  padding: 0;
  line-height: 26px;

  &--detailed {
    color: $light-text-color;
  }
}

.reasons__name {
  padding-bottom: 8px;
}

.reasons__text {
  margin-bottom: 14px;
}

.reasons__pic {
  display: block;
}

.reasons__short {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}

//////////// m o b i l e . o n l y ////////////

@media (max-width: 767px) {
  .reasons__header {
    padding-bottom: 0;
  }

  .reasons__name br {
    display: none;
  }
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .reasons__header {
    width: auto;
    padding-top: 47px;
    padding-left: 140px;
    padding-right: 140px;
  }

  .reasons__headline {
    font-size: 21px;
  }

  .reasons__subline {
    margin-bottom: 11px;
  }

  .reasons__list {
    display: flex;
    flex-direction: column;
  }

  .reasons__item--detailed {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .reasons__name {
    font-size: 21px;
  }

  .reasons__text {
    line-height: 21px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 0;
  }

  .reasons__pic {
    flex-grow: 1;
  }

  .reasons__short {
    display: flex;
    width: 100%;
    padding: 0;
  }

  .reasons__item--short {
    width: 256px;
    padding: 46px 46px 35px 46px;
    border: none;
  }
}

//////////// d e s k t o p ////////////

@media (min-width: $desktop-width) {
  .reasons__header {
    padding-left: 355px;
    padding-right: 355px;
  }

  .reasons__item--short {
    width: 400px;
    padding: 48px 57px;
  }

  .reasons__item--short .reasons__name {
    max-width: 100px;
  }

  .reasons__item--detailed picture {
    max-height: 256px;
    overflow: hidden;
  }
}
