//////////// b a s i c   &   m o b i l e ////////////

.true-town__info {
  @include mobile-content();
  padding-top: 40px;
  padding-bottom: 30px;
}

.true-town__list {
  @include mobile-content();
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $bg;
  text-align: left;
}

.true-town__item {
  padding-left: 50px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &--housing {
    background-image: $housing;
  }

  &--souvenirs {
    background-image: $souvenirs;
  }

  &--food {
    background-image: $food;
  }
}

//////////// m o b i l e . o n l y ////////////

@media (max-width: $mobile-width-max) {
  .true-town__info {
    padding-top: 80px;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: top;
  }
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .true-town__info {
    width: 256px;
    min-height: 256px;
    padding-top: 48px;
    padding-left: 42px;
    padding-right: 42px;
    box-sizing: border-box;
  }

  .true-town__list {
    display: flex;
    width: 768px;
    min-height: 330px;
    flex-grow: 1;
    padding: 0;
  }

  .true-town__item {
    width: 256px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 160px;
    text-align: center;
    background-size: 75px;
    background-position: center 60px;

    &--housing {
      order: 1;
    }

    &--food {
      order: 2;
      background-size: 77px;
      background-position: center 63px;
    }

    &--souvenirs {
      order: 3;
      background-size: 64px;
      background-position: center 57px;
    }
  }

  .true-town__subline {
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

//////////// d e s k t o p ////////////

@media (min-width: $desktop-width) {
  .true-town__info {
    width: 400px;
    padding-top: 55px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .true-town__item {
    width: 400px;
  }
}
