.video {
  @include inner-header();
  text-align: center;
  border: none;
  padding-bottom: 110px;
}

.video__wrapper {
  position: relative;
}

.video__mock {
  display: block;
  width: 100%;
  height: auto;
}

//////////// t a b l e t ////////////

@media (min-width: $tablet-width) {
  .video {
    width: 648px;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0;
  }
}

//////////// d e s k t o p ////////////

@media (min-width: $desktop-width) {
  .video {
    width: 800px;
    padding-left: ($desktop-width - 800px) / 2;
    padding-right: ($desktop-width - 800px) / 2;
  }
}
